<!-- BLOCK 1 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class='container' style="font-family:'Righteous', cursive;font-size:16px;">
    <!-- BLOCK 2 --> 
    <!-- Brand and toggle button get grouped for better mobile display -->
        <a class="navbar-brand" href="/">Plant Doctor</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
        </button>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
            <!-- BLOCK 3 -->
            <!-- Replace the '#' with links to each of your converters -->
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href={{ url_for('classify')}} class="nav-link">Classify</a>
            </li>
            <li class="nav-item">
                <a href={{ url_for('explanation')}} class="nav-link">Machine Learning Part</a>
            </li>
            </ul>
        
        </div><!-- /.navbar-collapse -->
    </div>
</nav>