<!-- BLOCK 1 -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  
  <!-- BLOCK 2 --> 
  <!-- Brand and toggle button get grouped for better mobile display -->
  <a class="navbar-brand" href="/">Home</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" />
  </button>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <!-- BLOCK 3 -->
    <!-- Replace the '#' with links to each of your converters -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/ftoc" class="nav-link">F to C</a>
      </li>
      <li class="nav-item">
        <a href="/#" class="nav-link">C to F</a>
      </li>
      <li class="nav-item">
        <a href="/#" class="nav-link">Mi to Km</a>
      </li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>